body {
    justify-content: center;
    display: flex;
}

#app {
    display: flex;
    flex-direction: column; 
}

.semaforoTop {
    width: 40px;
    height: 200px;
    background-color: black;
    align-self: center;
}

.semaforo {
    width: 200px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}


.semaforo > div{
    margin: 10px 10px;
}

.redLight {
    width: 180px;
    height: 180px;
    border-radius: 180px;
    background-color:rgb(155, 0, 0);
}

.yellowLight {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    background-color:rgb(214, 164, 0);
}

.greenLight {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    background-color: rgb(43, 194, 43);
}

.lightR {
    box-shadow: 0px 0px 50px 20px rgb(255, 113, 113);
}

.lightY {
    box-shadow: 0px 0px 50px 20px rgb(255, 236, 70);
}

.lightG {
    box-shadow: 0px 0px 50px 20px rgb(178, 255, 77);
}